<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <ul class="nav  nav-pills">
            <li><h3>Blood Donor Management System (BDMS)</h3></li>
            <button class="btnAllDonor"><li role="presentation"  ><a href="">All Donors</a></li></button>
            <button class="btnNewDonor"><li role="presentation"  ><a href="">Create New Donor</a></li></button>
            <button class="btnSearch" ><li role="presentation" ><a href="Search.html">Search Blood</a></li></button>
            <button class="btnLogout"><li role="presentation" ><a href="">Log out</a></li></button>
        </ul>
    </nav>
<div class="container">
    <div class="panel">
        <div class="row">
            <div class="panel-body">
                <form>
                    <h4>Adding New Record</h4>
                    <div class="form-group label2">
                        <label for="donation-date">Donation Date :</label>
                        <input type="date" name="d-date" id="donation-date" class="form-group" required>
                    </div>
                    <button type="button" class="btn btnCancel"><a href="All_Donor_Record.html">Cancel</a></button>
                    <button type="button" class="btn btnAdd"><a href="All_Donor_Record.html">Add</a></button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>

