<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <ul class="nav  nav-pills">
            <li><h3>Blood Donor Management System (BDMS)</h3></li>
            <button class="btnAllDonor"><li role="presentation"  ><a href="">All Donors</a></li></button>
            <button class="btnNewDonor"><li role="presentation"  ><a href="">Create New Donor</a></li></button>
            <button class="btnSearch" ><li role="presentation" ><a href="Search.html">Search Blood</a></li></button>
            <button class="btnLogout"><li role="presentation" ><a href="">Log out</a></li></button>
        </ul>
    </nav>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form>
            <h4>Please Select Blood Type.....</h4>
            <label for="blood-type">Blood Type :</label>
            <select name="blood-type">
                <option>---Select---</option>
                <option>A+</option>
                <option>B+</option>
                <option>AB+</option>
                <option>O+</option>
                <option>A-</option>
                <option>B-</option>
                <option>AB-</option>
                <option>O-</option>
            </select>
            <button type="submit" class="btn btn-danger"><a href="">Search</a></button>
            </form>
        </div>
</div>
</div>
<div class="container-fluid">
    <div class="panel panel-default"> 
    <table class="table table-bordered table-striped">
    
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Blood_Type</th>
    
    <th>Main_Phone</th>
    <th>Home_Phone</th>
    <th>Address</th>
    <th>Gender</th>
    <th>DOB</th>
    <th>Registration_Date</th>
    <th>LastDonation_Date</th>
    </tr>
    <tr>
                        
    <td>1</td>
                        
    <td>Mi Thike Non</td>
                       
    <td>B+</td>
                        
    <td>09988937556</td>
                        
    <td>09999999999</td>
                        
    <td>Mudon</td>
    <td>Female</td>
    
    <td>13.6.1999</td>
    
    
    <td>12.6.2020</td>
    
    <td>12.10.2020</td>
                    
    </tr>
                    
    <tr>
                        
    <td>22</td>
                        
    <td>Ma Thae Nu San</td>
                        
    <td>B+</td>
                        
    <td>09988937556</td>
                        
    <td>09999999999</td>
                        
    <td>Thaton</td>
     
    <td>Female</td>
    
    <td>20.7.1999</td>
    
    
    <td>12.7.2020</td>
    
    <td>12.11.2020</td>
                    
    </tr>
                    
    <tr>
                        
    <td>43</td>
                        
    <td>Ma Hnin Nandar Aung</td>
                        
    <td>B+</td>
                        
    <td>09988937556</td>
                        
    <td>09999999999</td>
                        
    <td>Thaton</td>
    
    <td>Female</td>
    
    <td>13.5.1999</td>
    
    
    <td>12.5.2020</td>
    
    <td>12.9.2020</td>
                     
    </tr>
                
    </table>
            
    </div>
        
    </div>

    <button type="button" class=" btn btn-default btnBack"><a class="back" href="All_Donor_Record.html">Back</a></button>   
</body>
</html>
