<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <ul class="nav  nav-pills">
            <li><h3>Blood Donor Management System (BDMS)</h3></li>
            <button class="btnAllDonor"><li role="presentation"  ><a href="">All Donors</a></li></button>
            <button class="btnNewDonor"><li role="presentation"  ><a href="">Create New Donor</a></li></button>
            <button class="btnSearch" ><li role="presentation" ><a href="Search.html">Search Blood</a></li></button>
            <button class="btnLogout"><li role="presentation" ><a href="">Log out</a></li></button>
        </ul>
    </nav>
<div class="container">
    <div class="panel-default">
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Record ID</th>
                    <th>Donation Date</th>
                    <th>Actions</th>
                </tr>
                <tr>
                    <td>01</td>
                    <td>2019-03-16</td>
                    <td>
                        <button type="button" class="btn" data-toggle="modal" data-target="#delete" data-whatever="">Delete</button>

                        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="exampleModalLabel1">Delete Donor Information</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>The selected will be deleted.Are you sure?</p>
                                        <div class="modal-footer">
                                            <a href="#">Agree</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            </table>
            <button type="button" class="btn btn-default"><a href="All_Donor_Record.html">Back</a></button>
        </div>
    </div>
</div>
</body>
<script src="bootstrap/js/jquery.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script>
    $(function () {
        setTimeout(function () {
            $(".alert").fadeOut();
        },1000)
    })
</script>
</html>


