.container{
    margin: 3% 10% 10% 10%;
}
h3{
    color: #8B0000;
    font-weight: bold;
    margin-right: 15px;
    font-size: 23px;
}
ul{
    margin-left: 15%;
    color: black;
    padding-top: 20px;
}

.btnSearch {
    margin-right: 12px;
    color: black;
}
.btnAllDonor {
    margin-right: 12px;
    color: #000;
    background-color:  #8B0000;
}
.btnNewDonor {
    margin-right: 12px;
    color: #000;
}
.btnLogout {
    margin-right: 12px;
    color: #000;
}
.panel-body{
    box-sizing: border-box;
    border-color:brown;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 1px;
    margin-left: 20px;
    padding-top: 12px;
} 
form{
    color: black;
    margin-top: 15px;
    margin-bottom: 18px;
}
.label1 label{
    padding-left: 15%;
    margin: 10px;
}
.label2 label{
    padding-left: 10%;
    margin: 15px;
}
.btn {
    background-color:  #8B0000;
    margin-left: 40%;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}
.panel-body a{
    color: white;
}


       
    

