<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <ul class="nav nav-pills">
            <li><h3>Blood Donor Management System (BDMS)</h3></li>
            <button class="btnAllDonor"><li role="presentation"  ><a href="">All Donors</a></li></button>
            <button class="btnNewDonor"><li role="presentation"  ><a href="">Create New Donor</a></li></button>
            <button class="btnSearch"><li role="presentation"  ><a href="Search.html">Search Blood</a></li></button>
            <button class="btnLogout"><li role="presentation"  ><a href="">Log out</a></li></button>
        </ul>
    </nav>
    <div class="container">
        <div class="panel">
            <div class="panel-body">
            <form>
                <div class="row">
                    <div class="label1 col-sm-6">
                        <label for="id">ID :</label><br>
                        <label for="name">Name :</label><br>
                        <label for="dob">Date of Birth :</label><br>
                        <label for="blood-type">Blood Type :</label><br>
                        <label for="gender">Gender :</label><br>
                    </div>
                    <div class="label2 col-sm-6">
                        <label for="m-phone">Main Phone No :</label><br>
                        <label for="h-phone">Home Phone No :</label><br>
                        <label for="address">Address :</label><br>
                        <label for="reg_date">Registration Date:</label><br>
                        <label for="last-date">Last Donation Date :</label><br>
    
                    </div>
                </div>
                <button type="button" class="btn btn-default"><a href="All_Donor_Record.html">Back</a></button>
            </form>
          </div>
        </div>
    </div>
</body>
</html>

